body{
    background-color: rgb(255, 255, 255);
    height:100vh;
    margin: 0;

}

@font-face {
  font-family: "Game Of Squids.ttf";
  src: url("game.ttf");
}

.video {
  width: 100%;
  height: 80vh;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  object-fit: fill;
  position: relative;
}


.logo1 {
  width: 200px;
  height: 200px;
  margin: 0.2em;
}


header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding-right: 20px;
  font-family: "Game Of Squids.ttf";
}

/* ************************acc et news******************************** */

.accnews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.accueil {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  height: 40vh;
  color: orangered;
  width: 50vw;
  padding: 50px;
  animation: rollIn;
  animation-duration: 4s;
}

.newsletter {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  height: 40vh;
  width: 50vw;
  color: red;
  padding: 50px;
  animation: rollIn;
  animation-duration: 4s;
}

.row {
    display: flex;
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 75px;

  }

.row2 {
    display: flex;
    background-color: #c5c1c1;
    padding-top: 50px;
    padding-bottom: 50px;
  }


/* Descriptifs des attractions */
.col1 {
    flex: 1; 
    padding: 1em;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

  }

/* Logo des attractions*/
.col2 {
    flex: 1; 
    padding: 1em;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    
  }


/* Taille et position des images*/
.img {
    width:100%;
    height: 100%;
    }

img:hover{
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
    transition: 0.6s;
    
    }  

/* ******************************footer*************************** */

footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.réseaux {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.reseau {
  width: 5vw;
}

.adresse {
  background-color: rgb(34, 34, 34);
  border-radius: 50px;
  width: 15vw;
  height: 25vh;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  color: rgb(56, 56, 252);
}

.horaires {
  background-color: rgb(192, 191, 191);
  width: 15vw;
  height: 25vh;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}




/* *************************responsive************************** */

@media screen and (max-width: 700px) {
  
/* **********************header************** */

header,
  nav {
    position: static;
    background-image: url("amusement.jpg");
  }

  .video {
    display: none;
  }

  .logo1 {
    width: 50vw;
    height: 200px;
    margin: 0.2em;
    padding-top: 1em;
  }

  nav ul {
    flex-direction: column;
  }

/***************************************************/

body {
  width: auto;
}


.col1{
display: none;
}

.col2{
width: 500px;
padding: 0.5em;
margin: 0.2em;
}

/******************** footer ***********************/
footer {
  height: auto;
  width: 100vw;
  margin-top: 200px;
  flex-direction: column;
  display: flex;
}

.logo2 {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

.adresse {
  width: 250px;
  height: 30vh;
  font-size: 1.25em;
  flex-direction: column;
  margin: 4em;
}

.horaires {
  width: 30vw;
  height: 30vh;
  font-size: 1.25em;
  margin-left: 150px;
}

.réseaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5vw;
  margin: 70px auto;
  height: 5vh;
}

}