body{
    background-color: rgb(255, 255, 255);
    height:100vh;
    margin: 0;
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding-right: 20px;
  font-family: "Game Of Squids.ttf";
}

/* ************************acc et news******************************** */

.accnews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.accueil {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  height: 40vh;
  color: orangered;
  width: 50vw;
  padding: 50px;
  animation: rollIn;
  animation-duration: 4s;
}

.newsletter {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  height: 40vh;
  width: 50vw;
  color: red;
  padding: 50px;
  animation: rollIn;
  animation-duration: 4s;
}

.row {
    display: flex;
    background-color: #D3CECE;

  }

.row2 {
    display: flex;
    background-color: #AAA5A5;
  }


/* Descriptifs des attractions */
.col1 {
    flex: 1; 
    padding: 1em;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

  }

/* Logo des attractions*/
.col2 {
    flex: 1; 
    padding: 1em;
    border: solid;
    border-color: white;
    border-radius: 15px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
  }


/* Taille et position des images*/
.img {
    width:100%;
    height: 100%;
    }

img:hover{
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
    transition: 0.6s;
    
    }  

/* ******************************footer*************************** */

footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
}



.réseaux {
  display: flex;
  justify-content: space-around;
}

.reseau {
  width: 10vw;
}

.adresse {
  background-color: rgb(34, 34, 34);
  border-radius: 50px;
  width: 15vw;
  height: 25vh;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  color: rgb(56, 56, 252);
}

.horaires {
  background-color: rgb(192, 191, 191);
  width: 15vw;
  height: 25vh;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}

/* *************************responsive************************** */

@media screen and (max-width: 1024px) {
  /* **********************header************** */
  .Activité {
    flex-direction: column;
  }
  .Titrephare {
    margin-top: 50px;
  }

  .battle-kart {
    margin-top: 100px;
  }
  .contagionvr {
    margin-top: -50px;
  }
}